@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url("../css/header.css");
@import url("../css/banner.css");
@IMPORT url("../css/carrossel.css");
@IMPORT url("../css/topicos.css");
@IMPORT url("../css/contato.css");
@IMPORT url("../css/rodape.css");

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}